body{
    font-family: "Inter", sans-serif;
    font-style: normal;
}
h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h2{
    font-family: "Inter" , sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header{
    padding: 30px;
    background-color: #FFFFFF;
    text-align: center;
}

section{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #F8FAFC;   
}

a{
    color: #4E80EE;
    text-decoration: none;
}

hr{
    height: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}
